/* 
*******************
* GUÍA DE FUENTES *
*******************
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; 
font-family: 'Roboto Serif', serif;

*******************
* GUÍA DE COLORES *
*******************
background-color: rgba(20, 109, 135, 0.19);

* Fondo del sitio
background-color: #D5F2EE;

* Color de fuente
color: #3CACAE;
color: #FFFFFF; --blanco
*/

/* .div{
    width: 390px;
    height: 680px;
} */

