* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.header-grid-container {
  background-color: #D5F2EE;
  width: 100%; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #D5F2EE;
  justify-content: space-between;
  align-items: center; }

.header-grid-logo {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  color: #3CACAE;
  text-decoration: none;
  border: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: #3CACAE;
  width: 160px;
  height: 100%;
  text-align: center;
  margin: 2% 3%; }

.menu {
  width: 76%;
  height: 100%; }

nav ul {
  list-style: none;
  display: flex;
  gap: 15%; }

.header-grid-navbar {
  font-weight: 100;
  color: #3CACAE;
  text-decoration: none;
  font-size: 24px; }

nav #toggle,
nav label {
  display: none; }

.footer-grid-container {
  background-color: #D5F2EE;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 50% repeat(4, 5%);
  grid-template-rows: 40px 54.17px;
  grid-template-areas: "footer-grid-logo footer-span footer-grid-img-github footer-grid-img-li footer-grid-img-insta footer-grid-img-fb" "footer-grid-p-slogan footer-span footer-grid-img-github footer-grid-img-li footer-grid-img-insta footer-grid-img-fb";
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: center;
  padding: 2% 2%; }

.footer-span {
  grid-area: footer-span; }

.footer-grid-logo {
  grid-area: footer-grid-logo;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #3CACAE;
  text-decoration: none;
  border: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: #3CACAE;
  width: 100px;
  text-align: center;
  margin-left: 20px; }

.footer-grid-logo:hover {
  font-size: 30px; }

.footer-grid-p-slogan {
  grid-area: footer-grid-p-slogan;
  font-family: 'Roboto Serif', serif;
  font-size: 18px;
  font-style: italic;
  color: #3CACAE;
  padding: 8% 0% 0% 8%; }

.footer-grid-img-github img,
.footer-grid-img-li img,
.footer-grid-img-insta img,
.footer-grid-img-fb img {
  width: 30px;
  height: 30px; }

.footer-grid-img-github {
  grid-area: footer-grid-img-github; }

.footer-grid-img-li {
  grid-area: footer-grid-img-li; }

.footer-grid-img-insta {
  grid-area: footer-grid-img-insta; }

.footer-grid-img-fb {
  grid-area: footer-grid-img-fb; }

.footer-grid-img-github:hover,
.footer-grid-img-li:hover,
.footer-grid-img-insta:hover,
.footer-grid-img-fb:hover {
  width: 60px;
  height: 60px; }

.footer-grid-copyright {
  display: grid;
  color: #D5F2EE;
  background-color: #3CACAE;
  width: 100%;
  height: 50px;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; }

.footer-grid-copyright-logo {
  width: 12px;
  height: 16px;
  padding-top: 5px; }

.home-container-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #D5F2EE;
  padding: 2%; }

.home-col-1 {
  width: 35%; }

.home-col-1 img {
  width: 100%;
  height: 100%; }

.home-col-2 {
  width: 55%;
  height: 100%;
  background-color: rgba(20, 109, 135, 0.19);
  padding: 15%; }

.home-col-2 h1 {
  color: #3CACAE;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 50px; }

.home-col-2 p {
  color: #3CACAE;
  font-size: 27px;
  font-family: 'Roboto';
  font-weight: 200;
  padding-top: 2%; }

.about-me-grid-container {
  display: grid;
  grid-template-columns: 335px 580px;
  grid-template-rows: 400px 400px;
  grid-template-areas: "about-me-h1 about-me-h2" "about-me-span about-me-p";
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: #D5F2EE; }

.about-me-span {
  grid-area: about-me-span;
  background-color: #D5F2EE; }

.about-me-h1 {
  grid-area: about-me-h1;
  background-color: #198597;
  font-weight: 200;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 45% 31% 78% 31%; }

.about-me-h2 {
  grid-area: about-me-h2;
  background-color: #EFFEFD;
  font-weight: 300;
  color: #3CACAE;
  padding: 45% 15% 2% 15%; }

.about-me-p {
  grid-area: about-me-p;
  background-color: #EFFEFD;
  font-weight: 100;
  color: #3CACAE;
  padding: 0% 10% 5% 10%; }

.about-me-skills-grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #EFFEFD;
  padding: 40px 0px 40px 0px;
  width: 100%; }

.about-me-skill {
  width: 103px;
  height: 108px; }

.about-me-skill-text {
  font-weight: 500;
  color: #3CACAE; }

.skills-grid-container {
  display: grid;
  grid-template-columns: 300px 300px 400px;
  grid-template-rows: repeat(8, 70px);
  grid-template-areas: "skill-java skill-git skills-h2" "skill-go skill-github skills-h2" "skill-rest skill-html skills-h2" "skill-spring skill-css skills-h2" "skill-junit skill-node skills-span" "skill-sql skill-javascript skills-span" "skill-maven skill-react skills-span" "skill-scrum skill-jira skills-span";
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #D5F2EE;
  padding: 20px; }
  .skills-grid-container img {
    width: 54px;
    height: 39px; }
  .skills-grid-container h2 {
    font-weight: 200;
    font-size: 48px; }

.skill-java {
  grid-area: skill-java; }

.skill-go {
  grid-area: skill-go; }

.skill-rest {
  grid-area: skill-rest; }

.skill-spring {
  grid-area: skill-spring; }

.skill-junit {
  grid-area: skill-junit; }

.skill-sql {
  grid-area: skill-sql; }

.skill-maven {
  grid-area: skill-maven; }

.skill-scrum {
  grid-area: skill-scrum; }

.skill-git {
  grid-area: skill-git; }

.skill-github {
  grid-area: skill-github; }

.skill-html {
  grid-area: skill-html; }

.skill-css {
  grid-area: skill-css; }

.skill-node {
  grid-area: skill-node; }

.skill-javascript {
  grid-area: skill-javascript; }

.skill-react {
  grid-area: skill-react; }

.skill-jira {
  grid-area: skill-jira; }

.skill-java,
.skill-go,
.skill-rest,
.skill-spring,
.skill-junit,
.skill-sql,
.skill-maven,
.skill-scrum,
.skill-git,
.skill-github,
.skill-html,
.skill-css,
.skill-node,
.skill-javascript,
.skill-react,
.skill-jira {
  background-color: rgba(20, 109, 135, 0.19);
  display: grid;
  justify-items: start;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: 54px 150px;
  padding: 15.5px 48px; }
  .skill-java img,
  .skill-go img,
  .skill-rest img,
  .skill-spring img,
  .skill-junit img,
  .skill-sql img,
  .skill-maven img,
  .skill-scrum img,
  .skill-git img,
  .skill-github img,
  .skill-html img,
  .skill-css img,
  .skill-node img,
  .skill-javascript img,
  .skill-react img,
  .skill-jira img {
    padding-right: 15px; }
  .skill-java p,
  .skill-go p,
  .skill-rest p,
  .skill-spring p,
  .skill-junit p,
  .skill-sql p,
  .skill-maven p,
  .skill-scrum p,
  .skill-git p,
  .skill-github p,
  .skill-html p,
  .skill-css p,
  .skill-node p,
  .skill-javascript p,
  .skill-react p,
  .skill-jira p {
    font-weight: 400;
    color: #3CACAE; }

.skills-h2 {
  grid-area: skills-h2;
  background-color: rgba(248, 165, 119, 0.77);
  color: #FFFFFF;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 112px 80px; }

.skills-span {
  grid-area: skills-span;
  background-color: #D5F2EE; }

.edu-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "edu-h2 edu-fs-grid-container" "edu-h2 edu-u-grid-container" "edu-span edu-b-grid-container";
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #D5F2EE;
  padding: 2% 10%; }
  .edu-grid-container h3 {
    color: #3CACAE;
    background-color: #EFFEFD; }

.edu-h2 {
  grid-area: edu-h2;
  background-color: #FFF9BE;
  color: #72CFD0;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-weight: 200;
  font-size: 48px;
  padding: 79.7% 18.2%; }

.edu-span {
  grid-area: edu-span;
  background-color: #D5F2EE; }

.edu-fs-grid-container {
  grid-area: edu-fs-grid-container;
  display: grid;
  grid-template-columns: 20% 50%;
  grid-template-areas: "fs-year fs-h3" "fs-year fs-p";
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; }

.fs-year {
  grid-area: fs-year;
  padding: 104% 116% 63% 115%;
  color: #EFE79F;
  background-color: #EFFEFD; }

.fs-h3 {
  grid-area: fs-h3;
  padding: 10.9% 27.8%; }

.fs-p {
  grid-area: fs-p;
  padding: 10% 31.5%;
  color: #3CACAE;
  background-color: #EFFEFD; }

.edu-u-grid-container {
  grid-area: edu-u-grid-container;
  display: grid;
  grid-template-columns: 20% 50%;
  grid-template-areas: "u-year u-h3" "u-year u-description";
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; }

.u-year {
  grid-area: u-year;
  padding: 87% 115.5%;
  color: #EFE79F;
  background-color: #EFFEFD; }

.u-h3 {
  grid-area: u-h3;
  padding: 12.5% 25.7%; }

.u-description {
  grid-area: u-description;
  padding: 12.2% 23%;
  color: #3CACAE;
  background-color: #EFFEFD; }

.edu-b-grid-container {
  grid-area: edu-b-grid-container;
  display: grid;
  grid-template-columns: 20% 50%;
  grid-template-areas: "b-year b-h3" "b-year b-description";
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; }

.b-year {
  grid-area: b-year;
  padding: 89.4% 115%;
  color: #EFE79F;
  background-color: #EFFEFD; }

.b-h3 {
  grid-area: b-h3;
  padding: 10.5% 25%; }

.b-description {
  grid-area: b-description;
  padding: 10% 27.2%;
  color: #3CACAE;
  background-color: #EFFEFD; }

/* 
*************************
*  MEGA QUERIES: 1431px *
*************************
*/
@media (max-width: 1431px) {
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 45px; } }

/* 
*************************
*  MEGA QUERIES: 1288px *
*************************
*/
@media (max-width: 1288px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  .header-grid-navbar {
    font-size: 21px; }
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 40px; }
  .home-col-2 p {
    font-size: 24px; } }

/* 
*************************
*  MEGA QUERIES: 1145px *
*************************
*/
@media (max-width: 1145px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  .header-grid-navbar {
    font-size: 19px; }
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 35px; }
  .home-col-2 p {
    font-size: 21px; } }

/* 
*************************
*  MEGA QUERIES: LAPTOP *
*************************
*/
@media (max-width: 1024px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  .header-grid-navbar {
    font-size: 17px; } }

/* 
*************************
*  MEGA QUERIES: 1002px *
*************************
*/
@media (max-width: 1002px) {
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 30px; }
  .home-col-2 p {
    font-size: 18px; } }

/* 
*************************
*  MEGA QUERIES: 931px  *
*************************
*/
@media (max-width: 931px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  .menu {
    width: 70%; }
  nav ul {
    gap: 12%; }
  /*
    ************
    *  FOOTER  *
    ************
    */
  .footer-grid-p-slogan {
    font-size: 16px; } }

/* 
*************************
*  MEGA QUERIES: 858px  *
*************************
*/
@media (max-width: 858px) {
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 29px; }
  .home-col-2 p {
    font-size: 17px; }
  /*
    ************
    *  FOOTER  *
    ************
    */
  .footer-grid-p-slogan {
    font-size: 14px; } }

/* 
*************************
*  MEGA QUERIES: 831px  *
*************************
*/
@media (max-width: 831px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  nav ul {
    gap: 10%; }
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 26px; }
  .home-col-2 p {
    font-size: 17px; } }

/* 
************************
* MEGA QUERIES: TABLET *
************************
*/
@media (max-width: 768px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  .header-grid-logo {
    font-size: 30px;
    width: 120px; }
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 26px; }
  .home-col-2 p {
    font-size: 16px; }
  /* 
    **************
    *  ABOUT ME  *
    **************
    */
  .about-me-grid-container {
    grid-template-columns: 235px 380px;
    grid-template-rows: 300px 300px; }
  .about-me-h1 {
    padding: 38% 20% 30% 20%; }
  .about-me-h2 {
    padding: 45% 15% 2% 15%; }
  .about-me-p {
    padding: 0% 10% 5% 10%; } }

/* 
************************
* MEGA QUERIES: 756px  *
************************
*/
@media (max-width: 756px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  .menu {
    width: 75%; }
  nav ul {
    gap: 10%; }
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 24px; }
  .home-col-2 p {
    font-size: 14px; }
  /* 
    **************
    *  ABOUT ME  *
    **************
    */
  .about-me-grid-container {
    grid-template-columns: 235px 380px;
    grid-template-rows: 300px 300px; }
  .about-me-h1 {
    padding: 38% 20% 30% 20%; }
  .about-me-h2 {
    padding: 45% 15% 2% 15%; }
  .about-me-p {
    padding: 0% 10% 5% 10%; }
  /*
    ************
    *  FOOTER  *
    ************
    */
  .footer-grid-p-slogan {
    font-size: 12px; } }

/* 
************************
* MEGA QUERIES: 687px  *
************************
*/
@media (max-width: 687px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  nav ul {
    gap: 9%; }
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 22px; }
  /*
    ************
    *  FOOTER  *
    ************
    */
  .footer-grid-p-slogan {
    font-size: 11px; } }

/* 
************************
* MEGA QUERIES: 631px  *
************************
*/
@media (max-width: 631px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  nav {
    grid-template-columns: 100%; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: center; }
  nav label {
    display: inline-flex;
    cursor: pointer;
    padding: 2% 3%; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  .header-menu-img {
    width: 50px;
    height: 50px; }
  .menu ul li {
    padding: 1%; }
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-1 {
    width: 90%;
    height: 90%; }
  .home-col-2 {
    width: 90%;
    height: 90%;
    background-color: #D5F2EE;
    padding: 5%; }
  .home-col-2 h1 {
    font-size: 45px; }
  .home-col-2 p {
    font-size: 25px; }
  /*
    ************
    *  FOOTER  *
    ************
    */
  .footer-grid-container {
    grid-template-columns: 25% 35% repeat(4, 10%);
    grid-template-areas: "footer-grid-logo footer-span footer-span footer-span footer-span footer-span" "footer-grid-p-slogan footer-grid-p-slogan footer-grid-img-github footer-grid-img-li footer-grid-img-insta footer-grid-img-fb"; }
  .footer-grid-logo {
    margin-left: 0%;
    margin: 10%; }
  .footer-grid-p-slogan {
    font-size: 18px;
    padding: 0%; } }

/* 
************************
* MEGA QUERIES: 425px  *
************************
*/
@media (max-width: 425px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  /*
    .about-me-h1 {
        width: 100%;
        height: 83px;
        padding: 3%;
    }

    .about-me-h2 {
        width: 100%;
        height: 100px;
        padding: 5%;
        margin-top: -51%;
    }

    .about-me-p {
        padding: 8%;
        margin-top: -98%;
        width: 100%;
    }

    .about-me-grid-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
        "about-me-h1"
        "about-me-h2"
        "about-me-p";
        width: 100%;
        justify-content: center;
        align-content: center;
        background-color: #D5F2EE;
    }

    .about-me-skills-grid-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        background-color: #EFFEFD;
        padding: 40px 0px 40px 0px;
        width: 100%;
    }*/
  /*
    ************
    *  FOOTER  *
    ************
    */
  .footer-grid-container {
    grid-template-columns: repeat(4, 20%);
    grid-template-areas: "footer-grid-logo footer-grid-logo footer-grid-logo footer-grid-logo" "footer-grid-p-slogan footer-grid-p-slogan footer-grid-p-slogan footer-grid-p-slogan" "footer-grid-img-github footer-grid-img-li footer-grid-img-insta footer-grid-img-fb";
    row-gap: 5%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 7%; }
  .footer-grid-logo {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #3CACAE;
    text-decoration: none;
    border: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: #3CACAE;
    width: 100px;
    text-align: center;
    margin: 0; } }

/* 
************************
* MEGA QUERIES: 375px  *
************************
*/
@media (max-width: 375px) {
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 40px; }
  .home-col-2 p {
    font-size: 23px; }
  /*
    .about-me-h2 {
        width: 100%;
        height: 100px;
        padding: 7% 9%;
        margin-top: -58%;
        font-size: 20px;
    }

    .about-me-p {
        padding: 8%;
        margin-top: -112%;
        width: 100%;
    }*/
  /*
    ************
    *  FOOTER  *
    ************
    */
  .footer-grid-p-slogan {
    font-size: 16px; } }

/* 
************************
* MEGA QUERIES: MOBILE *
************************
*/
@media (max-width: 320px) {
  /*
    ************
    *  HEADER  *
    ************
    */
  /*.header-grid-container{
        height: 300px;
        grid-template-columns: 100%;
    }*/
  /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
  .home-col-2 h1 {
    font-size: 35px; }
  .home-col-2 p {
    font-size: 21px; }
  /*
    .about-me-grid-container{
        grid-template-columns: 100%;
        width: 100%;
        height: 1000px;
        grid-template-areas:
        "about-me-h1"
        "about-me-h2"
        "about-me-p";
        background-color: #EFFEFD;
    }
    
    .about-me-h1{
        width: 320px;
        height: 83px;
        padding: 3%;
        margin-top: -200px;
    }

    .span{
        background-color: #EFFEFD;
    }
    
    .about-me-h2{
        width: 320px;
        height: 200px;
        padding: 12% 15% 2% 15%;
        margin-top: -125%;
    }
    
    .about-me-p{
        padding: 0% 10% 5% 10%;
        margin-top: -157%;
    }

    .about-me-skills-grid-container{
        grid-template-columns: 30% 30% 30%;
        padding: 20px 0px 20px 0px;
        column-gap: 10px;
        margin-top: -97%;
    }

    .about-me-skill{
        width: 50px;
        height: 50px;
    }*/
  /*
    ************
    *  FOOTER  *
    ************
    */
  .footer-grid-p-slogan {
    font-size: 15px; } }
