/* 
************
* COLOURS  *
************
*/
$primary-background: #D5F2EE;
$secondary-background: #3CACAE;
$big-main-background: #EFFEFD;
$details-background: #198597;
$white-color: #FFFFFF;
$orange-background: rgba(248, 165, 119, 0.77);
$light-green-background: rgba(20, 109, 135, 0.19);
$yellow-background: #FFF9BE;
$green-font-background: #72CFD0;
$yellow-font-background: #EFE79F;

/* 
**********
* FONTS  *
**********
*/
$roboto-font-family: 'Roboto', sans-serif;
$roboto-slab-font-family: 'Roboto Slab', serif; 
$roboto-serif-font-family: 'Roboto Serif', serif;