.header-grid-container{
    background-color: #D5F2EE;
    width: 100%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #D5F2EE;
    justify-content: space-between;
    align-items: center;
}

.header-grid-logo{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: #3CACAE;
    text-decoration: none;
    border: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: #3CACAE;
    width: 160px;
    height: 100%;
    text-align: center;
    margin: 2% 3%;
}

.menu{
    width: 76%;
    height: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 15%;
}

.header-grid-navbar{
    font-weight: 100;
    color: #3CACAE;
    text-decoration: none;
    font-size: 24px;
}

nav #toggle,
nav label{
    display: none;
}