.edu-grid-container{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "edu-grid-h1-container edu-grid-detail-container"
    "edu-span edu-grid-detail-container";
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: $primary-background;
    @include tam-container-grid;
}

.edu-grid-h1-container{
    grid-area: edu-grid-h1-container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "edu-h1";
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: $yellow-background;
}

.edu-h1{
    grid-area: edu-h1;
    color: $green-font-background;
    font-weight: 200;
    font-size: 48px;
    text-align: center;
}

.edu-span{
    grid-area: edu-span;
    background-color: $primary-background;
}

.edu-grid-detail-container{
    grid-area: edu-grid-detail-container;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    "fs-year edu-fs-grid-container"
    "u-year edu-u-grid-container"
    "b-year edu-b-grid-container";
    justify-items: center;
    align-items: center;
    background-color: $big-main-background;
    padding: 20% 10%;

    p{
        color: $yellow-font-background;
        background-color: $big-main-background;
    }
}

.fs-year{
    grid-area: fs-year;
    font-size: 25px;
}

.edu-fs-grid-container{
    grid-area: edu-fs-grid-container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "fs-h2"
    "fs-p";
    width: 100%;
    align-content: center;
    align-items: center;

    h2{
        font-size: 20px;
    }

    h2, p, ul{
        color: $secondary-background;
        background-color: $big-main-background;
    }

    ul{
        font-size: 14px;
        padding: 0% 0% 10% 0%;
    }
}

.fs-h2{
    grid-area: fs-h2;
    padding: 0% 0% 4% 0%;
}

.fs-p{
    grid-area: fs-p;
    
}

.u-year{
    grid-area: u-year;
    font-size: 25px;
}

.edu-u-grid-container{
    grid-area: edu-u-grid-container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "u-h2"
    "u-description";
    width: 100%;
    align-content: center;
    align-items: center;

    h2{
        font-size: 20px;
    }

    h2, p{
        color: $secondary-background;
        background-color: $big-main-background;
    }

    p{
        padding: 0% 0% 10% 0%;
    }
}

.u-h2{
    grid-area: u-h2;
    padding: 0% 0% 4% 0%;
}

.u-description{
    grid-area: u-description;
}

.edu-b-grid-container{
    grid-area: edu-b-grid-container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "b-h2"
    "b-description";
    width: 100%;
    align-content: center;
    align-items: center;

    h2{
        font-size: 20px;
    }

    h2, p{
        color: $secondary-background;
        background-color: $big-main-background;
    }
}

.b-year{
    grid-area: b-year;
    font-size: 25px;
}

.b-h2{
    grid-area: b-h2;
    padding: 0% 0% 4% 0%;
}

.b-description{
    grid-area: b-description;
    color: $secondary-background;
    background-color: $big-main-background;
}
