.skills-grid-container{
    display: grid;
    grid-template-columns: 45% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "skills-grid-details-container skills-grid-h1-container"
    "skills-grid-details-container skills-span";
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: #D5F2EE;
}

.skills-grid-details-container{
    grid-area: skills-grid-details-container;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "skill-java skill-git"
    "skill-go skill-github"
    "skill-rest skill-html"
    "skill-spring skill-css"
    "skill-junit skill-node"
    "skill-sql skill-javascript"
    "skill-maven skill-react"
    "skill-scrum skill-jira";
    justify-items: center;
    align-items: center;
    background-color: rgba(20, 109, 135, 0.19);
    width: 100%;
    height: 100%;
    padding: 8%;

    img{
        width: 54px;
        height: 100%;
        padding: 1%;
    }
}

.skills-grid-h1-container{
    grid-area: skills-grid-h1-container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "skills-h1";
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: rgba(248, 165, 119, 0.77);
}

.skills-h1{
    grid-area: skills-h1;
    color: #FFFFFF;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-weight: 200;
    font-size: 48px;
}

.skills-span{
    grid-area: skills-span;
    background-color: #D5F2EE;
}

.skill-go{
    grid-area: skill-go;
}

.skill-rest{
    grid-area: skill-rest;
    
}

.skill-spring{
    grid-area: skill-spring;
}

.skill-junit{
    grid-area: skill-junit;
}

.skill-sql{
    grid-area: skill-sql;
}

.skill-maven{
    grid-area: skill-maven;
}

.skill-scrum{
    grid-area: skill-scrum;
}

.skill-git{
    grid-area: skill-git;
}

.skill-github{
    grid-area: skill-github;
}

.skill-html{
    grid-area: skill-html;
}

.skill-css{
    grid-area: skill-css;
}

.skill-node{
    grid-area: skill-node;
}

.skill-javascript{
    grid-area: skill-javascript;
}

.skill-react{
    grid-area: skill-react;
}

.skill-jira{
    grid-area: skill-jira;
}

.skill-java,
.skill-go,
.skill-rest,
.skill-spring,
.skill-junit,
.skill-sql,
.skill-maven,
.skill-scrum,
.skill-git,
.skill-github,
.skill-html,
.skill-css,
.skill-node,
.skill-javascript,
.skill-react,
.skill-jira{
    display: grid;
    justify-items: start;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 20% 50%;
    width: 100%;
    height: 100%;
    padding: 3%;

    p{
        font-weight: 400;
        color: #3CACAE;
        padding-left: 15%;
    }
}