.about-me-grid-container{
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-areas:
    "about-me-grid-h1-container about-me-col-3"
    "about-me-span about-me-col-3";
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: $primary-background;
    @include tam-container-grid;
}

.about-me-span{
    grid-area: about-me-span;
    background-color: $primary-background;
}

.about-me-grid-h1-container{
    grid-area: about-me-grid-h1-container;
    display: grid;
    grid-template-columns:100%;
    grid-template-areas:
    "about-me-h1";
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: $details-background;
}

.about-me-h1{
    grid-area: about-me-h1;
    background-color: $details-background;
    font-weight: 200;
    font-size: 48px;
    color: $white-color;
    text-align: center;
}

.about-me-h2{
    grid-area: about-me-h2;
    background-color: $big-main-background;
    font-weight: 300;
    color: $secondary-background;
    padding: 0% 0% 10% 0%;
}

.about-me-p{
    grid-area: about-me-p;
    background-color: $big-main-background;
    font-weight: 100;
    color: $secondary-background;
    padding: 0% 0% 20% 0%;
}

.about-me-col-3{
    grid-area: about-me-col-3;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: auto;
    grid-template-areas:
    "about-me-h2 about-me-h2 about-me-h2"
    "about-me-p about-me-p about-me-p"
    "about-me-skill-design about-me-skill-responsive about-me-skill-security"
    "about-me-skill-text-design about-me-skill-text-responsive about-me-skill-text-security";
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: $big-main-background;
    padding: 15% 7% 15% 7%;
}

.about-me-skill-design{
    grid-area: about-me-skill-design;
}

.about-me-skill-responsive{
    grid-area: about-me-skill-responsive;
}

.about-me-skill-security{
    grid-area: about-me-skill-security;
}

.about-me-skill-text-design{
    grid-area: about-me-skill-text-design;
}

.about-me-skill-text-responsive{
    grid-area: about-me-skill-text-responsive;
}

.about-me-skill-text-security{
    grid-area: about-me-skill-text-security;
}

.about-me-skill-design,
.about-me-skill-responsive,
.about-me-skill-security{
    width: 103px;
    height: 108px;
}

.about-me-skill-text-design,
.about-me-skill-text-responsive,
.about-me-skill-text-security{
    font-weight: 500;
    color: $secondary-background;
}