/* 
*************************
*  MEGA QUERIES: LAPTOP *
*************************
*/
@media  (max-width: 1024px) {
    .home-col-1 img {
        width: 400px;
        height: 700px;
    }

    .home-col-2 {
        width: 400px;
        height: 700px;
    }
}