/* 
*************************
*  MEGA QUERIES: 831px  *
*************************
*/
@media  (max-width: 831px) {
    /*
    ************
    *  HEADER  *
    ************
    */
    nav ul{
        gap: 10%;
    }
    
    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1{
        font-size: 26px;
    }

    .home-col-2 p{
        font-size: 17px;
    }
}