/* 
*************************
*  MEGA QUERIES: 858px  *
*************************
*/
@media  (max-width: 858px) {
    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1{
        font-size: 29px;
    }

    .home-col-2 p{
        font-size: 17px;
    }

    /*
    ************
    *  FOOTER  *
    ************
    */
    .footer-grid-p-slogan{
        font-size: 14px;
    }
}