/* 
************************
* MEGA QUERIES: 375px  *
************************
*/
@media  (max-width: 375px) {
    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1 {
        font-size: 40px;
    }

    .home-col-2 p {
        font-size: 23px;
    }

    /* 
    **************
    *  ABOUT ME  *
    **************
    */
    .about-me-col-3{
        row-gap: 2%;
    }

    .about-me-h1{
        padding: 6%;
    }

    /*
    ************
    *  FOOTER  *
    ************
    */
    .footer-grid-p-slogan{
        font-size: 16px;
    }
}