/* 
*************************
*  MEGA QUERIES: 1288px *
*************************
*/
@media  (max-width: 1288px) {
    /*
    ************
    *  HEADER  *
    ************
    */
    .header-grid-navbar{
        font-size: 21px;
    }

    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1{
        font-size: 40px;
    }

    .home-col-2 p{
        font-size: 24px;
    }
}