/* 
*************************
*  MEGA QUERIES: 1002px *
*************************
*/
@media  (max-width: 1002px) {
    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1{
        font-size: 30px;
    }

    .home-col-2 p{
        font-size: 18px;
    }

    /* 
    ********************
    *  EDUCATION PAGE  *
    ********************
    */
    .edu-h1{
        font-size: 44px;
    }

    .edu-grid-detail-container{
        grid-template-columns: 100%;
        grid-template-areas:
        "fs-year"
        "edu-fs-grid-container"
        "u-year"
        "edu-u-grid-container"
        "b-year"
        "edu-b-grid-container";
        padding: 20% 15%;
    }

    .fs-h2{
        padding: 4% 0% 4% 0%;
    }

    .u-h2{
        padding: 4% 0% 4% 0%;
    }

    .b-h2{
        padding: 4% 0% 4% 0%;
    }

    /* 
    *****************
    *  SKILLS PAGE  *
    *****************
    */
    .skill-java,
    .skill-go,
    .skill-rest,
    .skill-spring,
    .skill-junit,
    .skill-sql,
    .skill-maven,
    .skill-scrum,
    .skill-git,
    .skill-github,
    .skill-html,
    .skill-css,
    .skill-node,
    .skill-javascript,
    .skill-react,
    .skill-jira{
        p{
            padding-left: 35%;
        }
    }

    .skills-h1{
        font-size: 42px;
    }
}