/* 
************************
* MEGA QUERIES: 425px  *
************************
*/
@media  (max-width: 425px) {
    /*
    ************
    *  HEADER  *
    ************
    */
    /*
    .about-me-h1 {
        width: 100%;
        height: 83px;
        padding: 3%;
    }

    .about-me-h2 {
        width: 100%;
        height: 100px;
        padding: 5%;
        margin-top: -51%;
    }

    .about-me-p {
        padding: 8%;
        margin-top: -98%;
        width: 100%;
    }

    .about-me-grid-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
        "about-me-h1"
        "about-me-h2"
        "about-me-p";
        width: 100%;
        justify-content: center;
        align-content: center;
        background-color: #D5F2EE;
    }

    .about-me-skills-grid-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        background-color: #EFFEFD;
        padding: 40px 0px 40px 0px;
        width: 100%;
    }*/

    /*
    ************
    *  FOOTER  *
    ************
    */
    .footer-grid-container{
        grid-template-columns: repeat(4, 20%);
        grid-template-areas: 
        "footer-grid-logo footer-grid-logo footer-grid-logo footer-grid-logo"
        "footer-grid-p-slogan footer-grid-p-slogan footer-grid-p-slogan footer-grid-p-slogan"
        "footer-grid-img-github footer-grid-img-li footer-grid-img-insta footer-grid-img-fb";
        row-gap: 5%;
        justify-content: center;
        justify-items: center;
        align-content:  center;
        align-items: center;
        padding: 7%;
    }

    .footer-grid-logo {
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        color: #3CACAE;
        text-decoration: none;
        border: 3px;
        border-style: solid;
        border-width: 3px;
        border-color: #3CACAE;
        width: 100px;
        text-align: center;
        margin: 0;
    }
}