/* 
************************
* MEGA QUERIES: TABLET *
************************
*/
@media  (max-width: 768px) {
    /*
    ************
    *  HEADER  *
    ************
    */
    .header-grid-logo{
        font-size: 30px;
        width: 120px;
    }

    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1{
        font-size: 26px;
    }

    .home-col-2 p{
        font-size: 16px;
    }

    /* 
    **************
    *  ABOUT ME  *
    **************
    */
    .about-me-h1{
        font-size: 42px;
    }

    /* 
    ********************
    *  EDUCATION PAGE  *
    ********************
    */
    .edu-h1{
        font-size: 37px;
    }

    .edu-fs-grid-container h2,
    .edu-u-grid-container h2,
    .edu-b-grid-container h2 {
        font-size: 18px;
    }

    .edu-fs-grid-container p,
    .edu-u-grid-container p,
    .edu-b-grid-container p {
        font-size: 14px;
    }

    /* 
    *****************
    *  SKILLS PAGE  *
    *****************
    */
    .skills-grid-details-container{
        padding: 8% 4%;
    }

    /* 
    *********************
    *  EXPERIENCE PAGE  *
    *********************
    */
    .exp-h1{
        font-size: 30px;
    }
}