/* 
*************************
*  MEGA QUERIES: 831px  *
*************************
*/
@media  (max-width: 831px) {
    /*
    ************
    *  HEADER  *
    ************
    */
    nav ul{
        gap: 10%;
    }
    
    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1{
        font-size: 26px;
    }

    .home-col-2 p{
        font-size: 17px;
    }

    /* 
    ********************
    *  EDUCATION PAGE  *
    ********************
    */
    .edu-h1{
        font-size: 40px;
    }

    /* 
    *****************
    *  SKILLS PAGE  *
    *****************
    */
    .skill-java,
    .skill-go,
    .skill-rest,
    .skill-spring,
    .skill-junit,
    .skill-sql,
    .skill-maven,
    .skill-scrum,
    .skill-git,
    .skill-github,
    .skill-html,
    .skill-css,
    .skill-node,
    .skill-javascript,
    .skill-react,
    .skill-jira{
        p{
            padding-left: 45%;
            font-size: 14px;
        }
    }

    .skills-h1{
        font-size: 34px;
    }
}