/* 
************************
* MEGA QUERIES: 375px  *
************************
*/
@media  (max-width: 375px) {
    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1 {
        font-size: 40px;
    }

    .home-col-2 p {
        font-size: 23px;
    }

    /* 
    **************
    *  ABOUT ME  *
    **************
    */
    .about-me-col-3{
        row-gap: 2%;
    }

    /* 
    ********************
    *  EDUCATION PAGE  *
    ********************
    */
    .edu-grid-detail-container{
        padding: 10% 9%;
    }

    .edu-grid-container h2 {
        font-size: 20px;
    }

    .edu-grid-container p {
        font-size: 18px;
    }

    .edu-grid-container ul {
        font-size: 15px;
    }

    /*
    ************
    *  FOOTER  *
    ************
    */
    .footer-grid-p-slogan{
        font-size: 16px;
    }
}