/* 
************************
* MEGA QUERIES: 687px  *
************************
*/
@media  (max-width: 687px) {
    /*
    ************
    *  HEADER  *
    ************
    */
    nav ul{
        gap: 9%;
    }

    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1{
        font-size: 22px;
    }
    
    /*
    ************
    *  FOOTER  *
    ************
    */
    .footer-grid-p-slogan{
        font-size: 11px;
    }
}