/* 
*************************
*  MEGA QUERIES: 931px  *
*************************
*/
@media  (max-width: 931px) {
    /*
    ************
    *  HEADER  *
    ************
    */
    .menu {
        width: 70%;
    }

    nav ul{
        gap: 12%;
    }

    /*
    ************
    *  FOOTER  *
    ************
    */
    .footer-grid-p-slogan{
        font-size: 16px;
    }
}