/* 
*************************
*  MEGA QUERIES: 1145px *
*************************
*/
@media  (max-width: 1145px) {
    /*
    ************
    *  HEADER  *
    ************
    */
    .header-grid-navbar{
        font-size: 19px;
    }

    /* 
    ***************
    *  HOME PAGE  *
    ***************
    */
    .home-col-2 h1{
        font-size: 35px;
    }

    .home-col-2 p{
        font-size: 21px;
    }
}